.loader
{
    border: 5px solid #444;
    height: 50px;
    width: 50px;
    position: relative;
    overflow: hidden;
}

@keyframes load {
    0% {width: 0%;left: -5px;}
    25% {width: 100%;left: -5px;}
    75% {width: 100%; left: -5px;}
    100% {width: 0%; left: 100%;}
}
@keyframes load2 {
    0% {height: 0%;top: -10px;}
    25% {height: 0%;top: -10px;}
    50% {height: 100%;top: 0;}
    75% {height: 0%; top: -10px;}
    100% {height: 0%; top: -10px;}
}
.cursor
{
    position: absolute;
    left: -5px;
    height: 100%;
    width: 40%;
    border-left: 5px solid #444;
    border-right: 5px solid #444;
    background-color: #addcff;
    animation: load 4s infinite alternate linear;
}

.cursor2
{
    position: absolute;
    top: -5px;
    width: 100%;
    border-bottom: 5px solid #444;
    background-color: #ffc8f1;
    animation: load2 4s infinite alternate linear;
}