.character {
    display: inline-block;
    max-width: 150px;
    max-height: 300px;
    overflow: hidden;
    background: #fff;
    border-radius: 5px;
    padding: 4px;
    margin: 4px;
    box-shadow: 0 0 6px #ddd;
    box-sizing: border-box;
    border: 1px solid #ddd;
}

.character-img {
    width: 100%;
    object-fit: cover;
}

.character-name {
    text-align: center;
}

.loading {
    width: 150px;
    height: 200px;
}