.navigation {
    background: #fff;
    padding: 8px;
    font-size: 18px;
    box-shadow: 0 0 5px #ddd;
    display: flex;
    justify-content: space-between;
}

.navigation-btn {
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
}
.navigation-offset {
    width: 30px;
    text-align: center;
    border: none;
    cursor: pointer;
}