.dashboard {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    align-content: space-between;
}

.dashboard > * {
    flex-basis: content;
}

.dashboard-header {
    background: #fff;
    padding: 8px;
    font-size: 18px;
    box-shadow: 0 0 5px #ddd;
    z-index: 2;
}

.dashboard-footer {
    z-index: 2;
}

.characters {
    z-index: 1;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}